<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290911973040-g10pmtdvkduu0frgf8rcb2u2o7di21q4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290911973040-g10pmtdvkduu0frgf8rcb2u2o7di21q4</string>
	<key>API_KEY</key>
	<string>AIzaSyDjBpHA3P4YE3WW-BgCFOjZyX2jaYXonoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>290911973040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.purrfect</string>
	<key>PROJECT_ID</key>
	<string>db-petmanagement-balago</string>
	<key>STORAGE_BUCKET</key>
	<string>db-petmanagement-balago.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290911973040:ios:9dca160ad8391e8b9fd575</string>
</dict>
</plist>